/*Usando extensão #region folding*/

/*inter-font // google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* #region global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*inter-font // google fonts*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
}

html {
    scroll-behavior: smooth;
}

:root {
    --dark: #1b1b1b;
    --wine-red: #931736;
    --red: #d72638;
    --bright-red: #ff0000;
    --smokewhite: #faf3dd;
    --white: #fff;
    --black: #000;
    --email-bg: rgb(28, 76, 125)
}

body {
    background: var(--white);

}

header {
    z-index: 4;
    position: fixed;
    width: 100%;
    background-color: var(--dark);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 5rem;
    padding-left: 1rem !important;
}

header nav h1 {
    text-decoration: none;
    color: var(--red);
    font-weight: 400;
    font-size: 4rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: large;
    font-weight: 400;
    padding: 6px;
    background-color: var(--red);
    border-radius: 35px;
}

header nav ul li:hover {
    background-color: var(--bright-red);
   transform: scale(1.2);
   border-radius: 35px;
   
}

.black-opacity {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: var(--black);
    opacity: 60%;
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

footer {
    z-index: 4;
    color: var(--white);
    background-color: var(--dark);
    padding: 0px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 100%;
    text-align: justify;
}

footer div {
    z-index: 2;
}

footer svg {
    position: relative;
    top: 3px;
    height: 17px;
}

.btn-disabled {
    background-color: var(--wine-red);
    pointer-events: none;
}
section {
    padding-top: 5rem;
    width: 100%;
}

@media (width <= 39rem){
    footer {
        height: 7rem;
    }
}

@media screen and (width <= 32.5rem){
    footer {
        padding: 0.2rem;
        justify-content: space-around;
        text-align: justify;
        height: 11rem;
        flex-direction: column;
    }
}

/* #endregion */

/* #region home */
.hero {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/imagem_sushi_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-hero {
    height: 100vh;
}

.hero span {
    color: var(--red)
}

.home-title {
    font-size: 8rem;
}

.home-text {
    font-size: 3.1rem;
}

.options-hero {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}
.options-hero a {
    text-decoration: none;
    color: var(--white);
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem 0.5rem;
    background-color: var(--red);
    border-radius: 20px;
}

.options-hero a:hover {
    background-color: var(--bright-red);
    transform: scale(1.2);
}

#imagem-home {
    opacity: 100%;
    width: 1280px;
}

@media (width <= 96rem) {
    .home-title {
        font-size: 6rem;
    }
    .home-text {
        font-size: 2.3rem;
    }
}
@media (width <= 70rem) {
    .home-title {
        font-size: 4rem;
    }
    .home-text {
        font-size: 1.5rem;
    }
    .options-hero a {
        font-size: 2rem;
    }
}
@media (width <= 48rem) {
    .home-title {
        font-size: 3rem;
    }
    .home-text {
        font-size: 1.1rem;
    }
    .options-hero {
        flex-direction: column;
        gap: 1rem;
    }

}
/* #endregion */

/* #region cardapio */
.cardapio {
    min-height: 91.25vh;
    background-image: url(../assets/imagem_fundo_menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-inline: 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    grid-auto-flow: column;
}

.grid>div {
    z-index: 2;
}

.card {
    padding: 1rem 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    color: var(--white);
    background-color: var(--dark);
}

.card h2,
.card strong {
    font-weight: 600;
}

.card p {
    font-weight: 300;
}

.card img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
}

.tabela-promocional {
    z-index: 2;
    width: 50rem;
    padding: 1rem 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    background-color: var(--dark);
}

.tabela-promocional .caption {
    color: var(--red);
    font-size: larger;
}

.tabela-promocional h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem;
}

.tabela-promocional ul {
    list-style: none;
}

.tabela-promocional p {
    margin: 2rem;
}

@media (width <= 83rem){
    #cardapio {
        position: relative;
    }
    #cardapio .black-opacity {
        min-height: 100%;
        flex: 1;
    }
}

@media (width <= 80rem) {
    .cardapio {
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .card img {
        height: 7rem;
        width: 7rem;
    }
    .tabela-promocional {
        width: 80%;
        flex-direction: row;
    }
}
@media (width <= 73rem) {
    .tabela-promocional {
        flex-direction: column;
    }
}
@media (width <= 46rem) {
    .cardapio {
        padding-inline: 1rem;
    }
    .card {
        align-items: center;
        flex-direction: column;
    }
    .card img {
        border-radius: 1rem;
    }
    .card p {
        display: none;
    }
    .tabela-promocional h2 {
        display: none;
    }
}
@media (width <= 40rem) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* #endregion */

/* #region contato */
#contato {
    background-image: url(/src/assets/imagem_fundo_contato.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
}

.forms {
    z-index: 2;
    background-color: #1B1B1E;
    position: relative;
    left: 8vw;
    width: 45rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 4rem;
    border-radius: 1rem;
}
.forms h3 {
    color: var(--white);
    font-size: 2.8rem;
    font-weight: 700;
}
.forms li {
    background-color: #fff;
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    list-style: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.forms h4 {
    font-weight: 700;
    margin-right: 0.5rem;
    float: left;
}
.forms input {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.forms button {
    background-color: var(--red);
    font-size: 2rem;
    padding: 1rem 6rem;
    margin: 0 auto;
    border: none;
    border-radius: 4rem;
}
.forms button:hover {
    background-color: var(--wine-red);
    cursor: pointer;
    transform: scale(1.2);
}
@media (width <= 54rem) {
    #contato {
        justify-content: center;
    }
    .forms {
        left: auto;
    }
}
@media (width <= 50rem) {
    .forms {
        width: 90vw;
    }
}
@media (width <= 50rem) {
    .forms {
        padding: 6rem 1rem;
    }
    .forms h3 {
        font-size: 2.3rem;
    }
    .forms button {
        padding: 1rem 15vw;
    }
}
@media (width <= 30rem) {
    .forms h3 {
        font-size: 1.8rem;
    }
}
/* #endregion */

/* #region about */
.sobre {
    background-image: url(../assets/imagem_sakura_sobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: end;
    z-index: 1;
}

.sobre .content {
    background-color: var(--wine-red);
    padding: 1.4rem;
    height: 50vh;
    color: var(--white);
}

.sobre h2 {
    font-weight: 900;
    font-size: 6rem;
}

.sobre p {
    text-align: justify;
    font-size: 2.4rem;
}

@media (height <= 52rem) {
    .sobre h2 {
        font-size: 2rem;
    }  
}

@media (width <= 96rem) {
    .sobre .content {
        padding: 1rem;
        height: 80vh;
    }
    .sobre p {
        font-size: 2rem;
    }
}
@media (width <= 53rem) {
    .sobre {
        height: 100vh;
    }
    .sobre .content {
        padding: 1rem;
        height: 100%;
    }
    .sobre p {
        font-size: 1.6rem;
    }
}

@media (width <= 37rem) {
    .sobre p {
        font-size: 1.4rem;
    }
}

/* #endregion */